<div class="container-fluid">
  <div class="row">
    <div class="col-3 pl-0 pr-0">
      <mat-toolbar style="background-color: #419873; color: white;">
        <button class="md-icon-button md-accent md-button md-ink-ripple" type="button"
          (click)="isSearching = !isSearching">
          <mat-icon aria-hidden="false" aria-label="search icon" *ngIf="!isSearching">search</mat-icon>
          <mat-icon aria-hidden="false" aria-label="search icon" *ngIf="isSearching"
            (click)="searchWord = ''; this.updateDevices();">close
          </mat-icon>
        </button>
        <span [class]="isSearching ? 'd-none' : 'd-block'">Devices</span>
        <mat-form-field [class]="isSearching ? 'd-block' : 'd-none'">
          <!-- <mat-label>Search</mat-label> -->
          <input matInput value="" (input)="searchWord = $event.target.value; this.updateDevices();">
        </mat-form-field>
      </mat-toolbar>
      <mat-tab-group #tabRef (selectedTabChange)="onTabChanged(tabRef.selectedIndex)">
        <mat-tab label="TOUS">
          <div class="row w-100 m-auto pt-2 border-bottom" *ngFor="let device of devices">
            <div class="col-10 m-auto" [routerLink]="['/live', device.deviceID]" routerLinkActive="active">
              <div class="row">
                <div class="col-2">
                  <img [src]=device.icon() style="width: 25px; height: 30px;">
                </div>
                <div class="col-10">
                  <p class="mb-1 car-model">{{device.vehicleModel}}</p>
                  <p class="car-details border-top"> {{device.speedKPH | number:'1.0-2'}} Km/h |
                    {{device.activity_time.split(',')[0]}} |
                    {{device.timestamp * 1000 | date:
                    'dd/MM/yyyy
                    HH:mm:ss'}}</p>
                </div>
              </div>
            </div>
            <div class="col-2 m-auto">
              <input type="checkbox" (click)="onNgModelChange(device.deviceID)" checked>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <img src="../../assets/status/pin_green.png">
          </ng-template>
          <div class="row w-100 m-auto pt-2 border-bottom" *ngFor="let device of devices">
            <div class="col-10 m-auto" [routerLink]="['/live', device.deviceID]" routerLinkActive="active">
              <div class="row">
                <div class="col-2">
                  <img [src]=device.icon() style="width: 25px; height: 30px;">
                </div>
                <div class="col-10">
                  <p class="mb-1 car-model">{{device.vehicleModel}}</p>
                  <p class="car-details border-top"> {{device.speedKPH | number:'1.0-2'}} Km/h |
                    {{device.activity_time.split(',')[0]}} |
                    {{device.timestamp * 1000 | date:
                    'dd/MM/yyyy
                    HH:mm:ss'}}</p>
                </div>
              </div>
            </div>
            <div class="col-2 m-auto">
              <input type="checkbox" (click)="onNgModelChange(device.deviceID)" checked>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <img src="../../assets/status/pin_blue_dot.png">
          </ng-template>
          <div class="row w-100 m-auto pt-2 border-bottom" *ngFor="let device of devices">
            <div class="col-10 m-auto" [routerLink]="['/live', device.deviceID]" routerLinkActive="active">
              <div class="row">
                <div class="col-2">
                  <img [src]=device.icon() style="width: 25px; height: 30px;">
                </div>
                <div class="col-10">
                  <p class="mb-1 car-model">{{device.vehicleModel}}</p>
                  <p class="car-details border-top"> {{device.speedKPH | number:'1.0-2'}} Km/h |
                    {{device.activity_time.split(',')[0]}} |
                    {{device.timestamp * 1000 | date:
                    'dd/MM/yyyy
                    HH:mm:ss'}}</p>
                </div>
              </div>
            </div>
            <div class="col-2 m-auto">
              <input type="checkbox" (click)="onNgModelChange(device.deviceID)" checked>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="col-9 pl-0 pr-0">
      <app-map (map$)="receiveMap($event)" (zoom$)="receiveZoom($event)" id='main-map' [markerClusterData]="markers">
      </app-map>
    </div>
  </div>
</div>