.leaflet-right {
  right: 65vw !important;
}

#changeMap {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  z-index: 400;
}

.map-container {
  /* width:100vw; */
  height: 89vh;
  /* position: inherit; */
}

@media only screen and (max-width: 600px) {
  .map-container {
    width: 100vw;
    height: 50vh;
    /* position: inherit; */
  }
}