<div class="container-fluid">
    <div class="row">
        <div class="col-3 p-2 mt-10 overflow-auto side">
            <div class="chart" id="speedometer"></div>
            <span class="d-flex justify-content-center">{{device?.vehicleModel}}</span><br>
            <span class="d-flex justify-content-center">{{device?.speedKPH | number:'1.0-2'}} KM/h</span><br>
            <span class="d-flex justify-content-center">{{device?.odometerKM | number:'1.0-2'}} KM</span><br>
            <span class="d-flex justify-content-center">{{device?.timestamp * 1000 | date: 'dd/MM/yyyy
                HH:mm:ss'}}</span>
            <hr>
            <!-- <span class="d-flex text-center adress">{{device?.adress}}</span> -->
            <span class="d-flex text-center adress">{{adress}}</span>
            <hr>
            <button class="btn btn-primary" (click)="showHistoryParams = !showHistoryParams;">Historique</button>
            <div *ngIf="playedDevice" class="player-tracker">
                <section layout="row" class="layout-align-center-center layout-row">
                    <button class="btn btn-light mr-2" type="button" [disabled]="isPlaying || !canPlay" (click)="play()"
                        data-toggle="tooltip" data-placement="top" title="Commencer"><i class="fa fa-play"></i></button>
                    <button class="btn btn-light mr-2" type="button" [disabled]="!isPlaying" (click)="pause()"
                        data-toggle="tooltip" data-placement="top" title="pause"><i class="fa fa-pause"></i></button>
                    <button class="btn btn-light mr-2" type="button" [disabled]="!canPlay"
                        (click)="initHistoryAnimation()" data-toggle="tooltip" data-placement="top"
                        title="initialiser"><i class="fa fa-stop"></i></button>
                    <button class="btn btn-light mr-2" type="button" [disabled]="!canPlay" (click)="previousMarker()"
                        data-toggle="tooltip" data-placement="top" title="position précedente"><i
                            class="fa fa-step-backward"></i></button>
                    <button class="btn btn-light mr-2" type="button" [disabled]="!canPlay" (click)="nextMarker()"><i
                            class="fa fa-step-forward" data-toggle="tooltip" data-placement="top"
                            title="position suivante"></i></button>
                    <button class="btn mr-2" type="button" [class.btn-light]="!polylineDisplayed"
                        [class.btn-primary]="polylineDisplayed" [disabled]="!canPlay" (click)="setPolylineParams()"
                        data-toggle="tooltip" data-placement="top" title="voir polyligne"><i
                            class="fa fa-map-marker"></i></button>
                </section>
            </div>
            <div class="periodes-list">
                <div class="periode-group" *ngFor="let timeline of timelines">
                    <a class="periode-line" (click)="playHistory(timeline['engineOnTime'], timeline['engineOffTime'])">
                        <span>{{timeline['engineOnTime'] * 1000 | date: 'dd/MM/yyyy'}}</span>
                        <b>{{timeline['engineOnTime'] * 1000 | date: 'HH:mm:ss'}} - {{timeline['engineOffTime'] * 1000 |
                            date: 'HH:mm:ss'}}</b>
                    </a>
                    <span class="distance">{{timeline['distanceKM'] | number:'1.0-2'}} - km</span>
                </div>
            </div>
        </div>
        <div class="pl-0 pr-0" [class.col-9]="!showHistoryParams" [class.col-6]="showHistoryParams">
            <app-map (map$)="receiveMap($event)" (zoom$)="receiveZoom($event)" id='main-map'></app-map>
        </div>
        <div [class.d-none]="!showHistoryParams" [class.col-3]="showHistoryParams">
            <span class="date-title p-2">
                Historique
            </span>
            <div class="border border-primary mt-2 p-2 rounded">
                <div class="form-group">
                    <label for="day" class="mt-2">Par jour:</label>
                    <input type="date" name="day" id="day" class="form-control" (change)="day=$event.target.value">
                </div>
                <input type="button" value="Rechercher" class="btn btn-primary w-100" (click)="byDay()">
            </div>
            <div class="border border-primary mt-2 p-2 rounded">
                <div class="mt-2 mb-2">Par date:</div>
                <div class="form-group">
                    <label for="startTime">Date début:</label>
                    <input type="datetime-local" name="startTime" id="startTime" class="form-control"
                        (change)="startTime=$event.target.value">
                </div>
                <div class="form-group">
                    <label for="endTime">Date fin:</label>
                    <input type="datetime-local" name="endTime" id="endTime" class="form-control"
                        (change)="endTime=$event.target.value">
                </div>
                <input type="button" value="Rechercher" class="btn btn-primary w-100" (click)="byInterval()">
            </div>
            <input type="button" value="Masquer" class="btn btn-danger w-100 mt-1" (click)="showHistoryParams = false">
            <input type="button" value="Voir position actuelle" class="btn btn-success w-100 mt-1" (click)="goLive()">
        </div>
    </div>
</div>