<div class="container-fluid">
    <form class="form-inline form-report ng-pristine ng-valid mt-2 shadow-sm" [formGroup]="dateForm"
        (ngSubmit)="onSubmit()">

        <div class="form-group ml-2 mb-2">
            <label>Date debut</label>
            <input formControlName="startDate" type="datetime-local" autocomplete="off" class="form-control ml-2"
                name="date_begin" id="report_date_begin" placeholder="Date debut">

        </div>
        <div class="form-group ml-2 mb-2">
            <label>Date fin</label>
            <input formControlName="endDate" type="datetime-local" autocomplete="off" class="form-control ml-2"
                name="date_end" id="report_date_end" placeholder="Date fin">
        </div>
        <button type="submit" class="btn btn-sm btn-orange ml-2 mb-2">Actualiser</button>
        <div class="col-3" [hidden]="dateErrorHidden">
            <small class="text-danger">
                date fin doit être supérieur à date début
            </small>
        </div>
    </form>
    <div class="row">
        <div class="col-md-4 ml-0 mt-2 shadow-sm">
            <div class="panel panel-default panel-stats">
                <div class="panel-heading">Liste des vehicules</div>
                <div class="panel-body">
                    <div class="device-line-rich" *ngFor="let device of devices">
                        <div class="name">
                            <b>{{device['vehicleModel']}}</b> <a href="http://s4.gps-facile.com/#/d/359633101511090"><i
                                    class="fa fa-map-o"></i></a>
                        </div>
                        <div class="line">
                            <span class="date"><i
                                    class="fa fa-clock-o"></i>{{device['timestamp'] * 1000 | date: 'short' }}</span>
                            <span class="odometer-today"><i class="fa fa-dashboard"></i>
                                {{device['distanceKM'] | number:'1.0-2'}}
                                Km</span>
                            <span class="fuel-level-consumption"><i class="fa fa-cube"></i> 0.0L</span>
                        </div>
                        <div class="line">
                            <span class="address"><span
                                    class="render-latlng event_line_address_34_94054__2_73339">{{device['address']}}</span></span>
                        </div>
                        <div class="line">
                            <span class="fuel-level"><i class="fa fa-cube"></i>Niveau carburant
                                <b>{{device['fuelLevel']}}</b></span>
                            <span class="odometer"><i class="fa fa-dashboard"></i>Kilométrage actuel
                                <b>{{device['odometerKM'] | number:'1.0-2'}}</b></span>
                        </div>
                        <!-- <i class="marker-signal">
                            <img src="/bundles/app/assets/images/markers/pin30_blue_dot.png" alt="">
                        </i> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 ml-0 mt-2">
            <div class="shadow-sm panel-stats">
                <div class="panel-heading">Kilométrage | Du {{this.startDate | date: 'short'}} Au
                    {{this.endDate | date: 'short'}} </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Kilométrage du jour</td>
                                <td>{{ totalDistance  | number:'1.0-2' }} KM</td>
                            </tr>
                            <tr>
                                <td>Durée total</td>
                                <td>{{ totalDuration / 60  | number:'1.0-2' }} h</td>
                            </tr>
                            <tr>
                                <td>Kilométrage moyen</td>
                                <td>
                                    {{ averageDistance  | number:'1.0-2' }} Km / H
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="odometerChart" class="chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>